#area {
  position:relative;
  left:37%;
  top:10em;
  width:320px;
  height:270px;
}

fieldset {
  background-color:#A7C0DC;
  width:300px;
  height:250px;
}

legend {
  font-weight:bold;
  font-family: "Segoe UI","Arial","Times New Roman";
}

label {
  position:absolute;
  left:19px;
  margin-top: 20px;
}

#idNome {
  background-color:#f1ff00;
  position:absolute;
  margin-top: 25px;
  left:95px;
  top:23px;
  width:225px;
}

#idIdade {
  background-color:#f1ff00;
  position:absolute;
  left:95px;
  margin-top:20px;
  width:225px;
}

ul {
  background-color:#fff;
  position:absolute;
  margin-top:50px;
}

#btn_incluir {
  border-style:dashed;
  position:absolute;
  bottom: 0.5em;
  right:100px;
  background-color:#f1ff00;
}


#btn_exibir {
  border-style:dashed;
  position:absolute;
  bottom: 0.5em;
  right:10px;
  background-color:#f1ff00;
}