* {
  margin: 0;
  padding: 0;
  color: red; 
}

.campo{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  padding-left:45px;
  width: 200px;
  font-size: 36px;
}